{% extends 'base.html.twig' %}

{% block content %}
    <h2>GEO API</h2>
    <p>Your IP address is <strong>{{ ip }}</strong> and you are probably in country <strong>{{ country_name }}</strong> right now.</p>
{% endblock %}
